{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<style>
  h3 {
    color: #70c7be;
    font-weight: bold;
  }

  label {
    color: whitesmoke;
  }

  .form-text {
    color: beige;
  }

  .form-control {
    background-color: rgb(34, 34, 34);
    border-color: #9d7ed0;
    color: white;

  }
</style>

<div class="container mt-5">
  <h2 class="text-white" style="font-family: 'Do Hyeon', sans-serif;">수정하기</h2>
  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <button class="btn" style="color:white;font-family: 'Do Hyeon', sans-serif; background-color:#9d7ed0;">submit</button>
  </form>
</div>
<br>
{% endblock %}